
{% extends "core/base.html" %} 
{% block content %}
{% load static %}

<div class="container">
    <div class="about-section">
        <h2>We Are Creative Minds</h2>
        <p>We are a team of passionate teachers dedicated to bringing you the best courses. Our mission is to create amazing experiences that inspire and entertain students.</p>
        <div class="team-members">
            <div class="member">
                <img src="{% static 'core/images/x.png' %}" alt="My image">
                <h3>Assistant Professor Abeer Khalid Al-Mashhadany</h3>
                <a class="mailto-link" href="mailto:abeer.khalidahmed@nahrainuniv.edu.iq?subject=Mail from Continuous teaching Website">Send Email</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
