
{% extends "core/base.html" %} 
{% block content %}
{% load static %}

<div class="container">
    <div class="about-section">
        <div class="content">
            <h2>We Are Creative Minds</h2>
            <p>Mission: The Continuous Teaching Unit aims to prepare highly efficient people who can contribute to scientific research and industrial applications.</p>
            <p>Vision: To achieve an ideal partnership between science, technology, and society.</p>
        </div>
        <div class="team-members">
            <div class="member">
                <img src="{% static 'core/images/email-icon.png' %}" alt="My image">
                <h3>Assistant Professor Abeer Khalid Al-Mashhadany</h3>
                <a class="mailto-link" href="mailto:abeer.khalidahmed@nahrainuniv.edu.iq?subject=Mail from Continuous teaching Website">Send Email</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
