{% extends "core/base.html" %}
{% block content %}

<div class="course-card">
 
  <div class="course-details">
    <h2>{{ course.course_name }}</h2>
    <p class="course-info">
      <strong>Lecturer:</strong> {{ course.lecturer }}<br>
      <strong>Starting Date:</strong> {{ course.starting_date }}<br>
      <strong>Duration:</strong> {{ course.duration_days }} days
    </p>
    <p class="course-description">
      <strong>Description:</strong> {{ course.description }}
    </p>
    <p class="course-prerequisites">
      <strong>Prerequisites:</strong> {{ course.prerequisites }}
    </p>
    <div class="course-price-wrapper">
      <span class="price">{{ course.price }} IQD</span>
      <button>Enroll Now</button>
    </div>
  </div>
</div>

{% endblock content %}
