{% extends "core/index.html" %}
{% block content %}

<div class="search-section">
  <form method="GET">
      <label for="course_name">Search for course by course name:</label>
      <input type="text" id="course_id" name="course_name" />
      <button type="submit" class="search-button">
          <span class="button-text">Search</span>
      </button>
      <button type="button" class="reset-button">
          <a href="{% url 'core-course' %}"><span class="button-text">Reset</span></a>
      </button>
  </form>
</div>
{% if courses %}
  <div class="grid-container">
    {% for course in courses %}
    <a href="{% url 'core-course-detail' course.course_id %}">
      <div class="grid-item">
        <div class="image-container">
          <img src="{{ course.poster }}" alt="{{ course.course_name }} Poster" />
        </div>
        <div class="description-container">
          <h2 class="course-name">{{ course.course_name }}</h2>
          <p class="course-lecturer"><strong>Lecturer: </strong>{{ course.lecturer}}</p>
          <p class="course-date"><strong>Starting Date:</strong> {{ course.starting_date }}</p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
{% else %}
  <p>No courses found for the given lecturer name.</p>
{% endif %}
{% endblock content %}
