{% extends "core/base.html" %}
{% block content %}
{% load static %}

    <section class="section-one">
      <h2>Learn. Achieve. Thrive with us.</h2>
      <p class="section-one-paragraph">
       We are The Continuous Teaching Unit at Al-Nahrain university 
       College Of Science Department. We aim to share our
       knowledge and skills with students, employees, and anyone else 
       who wants to develop and improve their skills.</p>
      <a href="{% url 'core-course' %}" class="see-available-courses">See available courses!</a> 
    </section>
  
    <section class="section-two">
      <img src="{% static 'core/images/al-nahrain.jpg' %}" alt="Al-Nahrain university">
    </section>
  
    <section class="section-three">
      <h3>You will enjoy learning from our top instructor in the continuing teaching faculty.
        <br>
         Currently the courses are held at Al-Nahrain university campus but in future E-Learning will be added. 
      </h3>
    </section>

    <div class="card-container">
      <div class="card">
          <h2>Location</h2>
          <i class="fas fa-map-marker-alt"></i>
          <p>Address</p>
          <span>Iraq - Baghdad - Jadriyah</span>
      </div>
      <div class="card">
          <h2>Email</h2>
          <i class="fas fa-envelope"></i>
          <p>E-mail</p>
          <span>info@nahrainuniv.edu.iq</span>
      </div>
  </div>  
{% endblock content %}