.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.about-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}
.content h2 {
    font-size: 24px;
    color: #333;
}

.content p {
    font-size: 16px;
    color: #777;
}
.member {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.member img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.member h3 {
    font-size: 18px;
    color: #444;
    margin-right: 10px;
}

.mailto-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}
