body {
  font-family: Arial, sans-serif;
  margin: 0; 
}

.course-card {
  display: flex; 
  margin: 20px auto;
  width: 80%; 
  background-color: #f5f5f5;
  border-radius: 5px;
}

.course-card img {
  width: 30%; 
  object-fit: cover;
}

.course-details {
  padding: 20px;
}

h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.course-info,
.course-description,
.course-prerequisites {
  color: #666;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
}

strong {
  font-weight: bold;
}

.course-price-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  font-size: 18px;
  color: #008000;
}

