* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #001f3f;
    color: #fff;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    border-bottom: 5px solid #32ff27;
}

.section-one {
    padding: 2rem;
    background-color: #f9f9f9;
    text-align: center;
}

.section-one h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.section-one-paragraph {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 2rem;
}

.learn-more-btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #2ee674;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.learn-more-btn:hover {
    background-color: #1ca25e;
}

.section-two img {
    width: 100%;
    max-height: 500px; 
    display: block;
    object-fit: cover;
}



.section-three {
    padding: 2rem;
    text-align: center;
    background-color: #f9f9f9;
}

.section-three h3 {
    font-size: 1.5rem;
    color: #333;
}
