body {
  font-family: Arial, sans-serif;
  background-color: #f1fffa;
}

header {
  padding: 20px;
  text-align: center;
  background-color: #213170;
  color: rgb(225, 225, 246);
}


.nav {
  display: flex;
  justify-content: space-around;
  /* background-color: #0b153d; */
  background-color: seashell;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 1px 5px 10px #72b6ff;
  
}

.nav a {
  color: white;
  color: #213170;

  text-decoration: none;
  padding: 8px 16px;
  display: inline-block;
}

.nav a:hover {
  background-color: #0b153d;
  color: white;
}

.nav-item.active {
  background-color: #4caf50;
  color: white;
}

.footer {
  background-color: #0b153d;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.search-section {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
}

.search-section label {
  font-weight: bold;
  margin-right: 10px;
}

.search-section input {
  border: none;
  border-radius: 3px;
  padding: 8px 10px;
  font-size: 16px;
}

.search-button,
.reset-button {
  border: none;
  border-radius: 3px;
  padding: 8px 10px;
  font-size: 16px;
  a {
    text-decoration: none;
  }
  color: #0b153d;
}

.search-section:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



.link {
  text-decoration: none;
  background-color: #f5f5f5;
  border-radius: 3px;
  border-radius: 3px;
  padding: 8px 10px;
  font-size: 16px;
}


