.lecturer-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 10px;
    font-size: 14px;
  }

  .grid-item {
    padding: 10px;
    text-align: center;  
    border-radius: 5px;
    background-color: #eee9e9;
    transition: box-shadow 1s;
  }
  .grid-item:hover {
    box-shadow: 2px 2px 10px #3ae1ff;
  }
  
  .lecturer-name-div {
    padding: 10px;
    background-color: #EBDBF6;
    max-height: 50px;
    text-align: center;
    border-radius: 5px;
    color: #213170;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .lecturer-info-div {
    flex: 2;
    padding: 10px;
    background-color: #213170;
    color: whitesmoke;
    a {
      color: #d0eafc;
      text-decoration: none;
    }
    border-radius: 0px;
  }

  .sorting-lecturer {
    margin: 10px;
  }
  
  .search-section {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
  }
  
  .search-section label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .search-section input {
    border: none;
    border-radius: 3px;
    padding: 8px 10px;
    font-size: 16px;
  }
  
  .search-button,
  .reset-button {
    border: none;
    border-radius: 3px;
    padding: 8px 10px;
    font-size: 16px;
    a {
      text-decoration: none;
    }
    color: #0b153d;
  }
  
  .search-section:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
    
  .link {
    text-decoration: none;
    background-color: #f5f5f5;
    border-radius: 3px;
    border-radius: 3px;
    padding: 8px 10px;
    font-size: 16px;
  }

  .link-to-lecturer-courses{
    text-decoration: none;
    
  }
